<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<form role="form" action="/member/signup" th:object="${memberSignUpForm}" method="post" class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="/image/app/book.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="form-label-group">
        <input type="text" th:field="*{uId}" th:class="${#fields.hasErrors('uId')}? 'form-control fieldError' : 'form-control'" class="form-control" placeholder="아이디 입력해주세요.">
        <p th:if="${#fields.hasErrors('uId')}" th:errors="*{uId}">Incorrect date</p>
        <label th:for="uId">아이디</label>
        <span id="uId_msg" ></span>
    </div>
    <div class="form-label-group">
        <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'" class="form-control" placeholder="이메일 입력해주세요.">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
        <label th:for="email">이메일</label>
        <span id="email_msg" ></span>
    </div>
    <div class="form-label-group">
        <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'" class="form-control" placeholder="비밀번호 입력해주세요.">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        <label th:for="pw">비밀번호</label>
        <span id="pw_msg" ></span>
    </div>
    <div class="form-label-group">
        <input type="password" th:field="*{passwordCheck}" th:class="${#fields.hasErrors('passwordCheck')}? 'form-control fieldError' : 'form-control'" class="form-control" placeholder="비밀번호 확인 입력해주세요.">
        <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Incorrect date</p>
        <label th:for="pwCheck">비밀번호 확인</label>
        <span id="pwCheck_msg" ></span>
    </div>
    <button type="submit" id="btn-signup" disabled="disabled" class="btn btn-lg btn-primary btn-block">가입하기</button>
    <a href="/member/login" role="button" class="btn btn-lg btn-secondary btn-block">취소</a>
</form>
<script src="/js/app/jquery-3.5.0.min.js"></script>
<script>
    var validity = {
        "uId":false,
        "email":false,
        "pwCheck":false
    };

    function validResult(id, msg, valid, focus=false) {
        $("#" + id + "_msg").text(msg);
        $("#" + id + "_msg").attr("style", "color:" + (valid ? "green" : "red"));
        validity[id] = valid;
        console.log(validity["uId"]);
        console.log(validity["email"]);
        console.log(validity["pwCheck"]);
        if(focus) {
            $("#" + id).focus();
        }
        validCheckAll();
    };

    function validCheckAll() {
        if (validity["uId"] && validity["email"] && validity["pwCheck"]) {
            console.log("success");
            $("#btn-signup").removeAttr("disabled");
        } else {
            console.log("fail");
            $("#btn-signup").attr("disabled", "disabled");
        }
    };

    var signup = {
        init: function () {
            var _this = this;

            $("#uId").on("input", function () {
                var uId = $("#uId").val();
                var idFormat= /\W/g;
                var msg = "";
                if (uId == "") {
                    msg = "아이디를 입력해주세요.";
                } else if (idFormat.test(uId)) {
                    msg = "영문, 숫자, 언더바만 사용가능합니다.";
                } else {
                    _this.validateUId();
                }
                validResult("uId", msg, false);
            });

            $("#email").on("input", function () {
                var email = $("#email").val();
                var emailFormat = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
                var msg = "";
                if (email == "") {
                    msg = "이메일을 입력해주세요.";
                } else if (!emailFormat.test(email)) {
                    msg = "유효하지 않은 이메일입니다.";
                } else {
                    _this.validateEmail();
                }
                validResult("email", msg, false);
            });

            $("#password").on("input", function () {
                _this.validatePw();
            });

            $("#passwordCheck").on("input", function () {
                _this.validatePw();
            });

        },
        validateUId: function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var valid = false;
            var msg = "";
            var uId = $("#uId").val();

            $.ajax({
                type: "post",
                url: "/user/signup/checkId",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: uId,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    console.log(result);
                    if (result == 0) {
                        msg = "이미 사용중인 아이디입니다.";
                        $("#uId").focus();
                    } else {
                        msg = "사용 가능한 아이디입니다.";
                        valid = true;
                    }
                    validResult("uId", msg, valid, !valid);
                },
                fail: function (error) {
                    alert(error);
                }
            });
        },
        validateEmail: function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var valid = false;
            var msg = "";
            var email = $("#email").val();

            $.ajax({
                type: "post",
                url: "/user/signup/checkEmail",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: email,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    if (result == 0) {
                        msg = "이미 등록된 이메일입니다.";
                        $("#email").focus();
                    } else {
                        msg = "사용 가능한 이메일입니다.";
                        valid = true;
                    }
                    validResult("email", msg, valid, !valid);
                },
                fail: function (error) {
                    alert(error);
                }
            });
        },
        validatePw: function () {
            var pw = $("#password").val();
            var pwCheck = $("#passwordCheck").val();
            var pwFormat = /(?=.*\d{1,50})(?=.*[~`!@#$%\^&*()-+=]{1,50})(?=.*[a-zA-Z]{2,50}).{8,50}$/;
            var valid = false;
            var msg = "";


            if (!pwFormat.test(pw)) {
                msg = "비밀번호 형식에 맞게 입력해주세요.";
            } else if (pw != pwCheck) {
                msg = "암호가 일치하지 않습니다.";
            } else {
                msg = "암호가 일치합니다.";
                valid = true;
            }
            validResult("pwCheck", msg, valid)
        }

    };
    signup.init();
</script>
</body>
</html>
